.header-on-no-book {
  margin-top: 3%;
  font-size: 25px;
  color: #416A59;
  width: 100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.favorite-books-container {
  display: flex;
  grid-gap: 25px;
  gap: 20px;
  flex-wrap: wrap;
  padding: 5%;
}
